src/processing/.ipynb_checkpoints/
src/processing/__pycache__/
src/processing/config.py
src/outputs/
src/polyglot/config.yml
src/polyglot/outputs/
src/polyglot/.ipynb_checkpoints/
src/polyglot/__pycache__/
src/polyglot/recommand/
